<h1>Manual Subscribe #broker.hivemq.com</h1>


<mat-card class="card-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="card-header-image"></div> -->
      <mat-card-title>Manual Subscribe Topic #broker.hivemq.com</mat-card-title>
      <mat-card-subtitle>Maksimum Data <b>{{ maxD[selectB].view }}</b></mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/cards/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content class="pad">
        <mat-form-field class="fieldText">
            <mat-label>Topic</mat-label>
            <textarea [(ngModel)]="dTopic" matInput placeholder="Contoh : /data/dat2/ruang01 "></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Maksimum tampil Data</mat-label>
            <mat-select #dMax [(ngModel)]="selectB">
                <mat-option *ngFor="let mx of maxD" [value]="mx.sort">
                {{mx.view}}
                </mat-option>
            </mat-select>
        </mat-form-field><br>
        <button mat-raised-button (click)="doGo()" color="primary">Go !</button> &nbsp;
        <button mat-raised-button (click)='doStop()' *ngIf="onRun != 0"  color="accent">Stop !</button>&nbsp;
        <button mat-raised-button (click)='doClear()' *ngIf="theData.length >= 1"  color="warn">Clear !</button>
        <br>
        <br>
        <p *ngFor="let item of theData | keyvalue">
            {{ item.key | json }} - {{ item.value | json }}
        </p>
    </mat-card-content>
    <mat-card-actions class="pad">
      <!-- <button mat-stroked-button color="primary">Info Detail</button> -->
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>
